{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}
  <h1 class="collection__title">{{ collection.title | escape }}</h1>

  <p class="collection__subtitle">{{ collection.description }}</p>

  <div class="swiper-controls-wrapper">
    <div class="js-carousel swiper-container">
      <div class="swiper-wrapper">
        {% for product in collection.products limit: 6 %}
          {% assign current_variant = product.selected_or_first_available_variant %}
          {% comment %} <a href="{{ product.url | within: collection }}"> {% endcomment %}
            <div class="product__item swiper-slide">
              <div class="product__item__image">
                {% if product.featured_image != blank %}
                  {{ product.featured_image | img_url: 'large' | img_tag }}
                {% endif %}

                <span class="button button__primary" js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>
              </div>

              <div class="product__item__details">
                <h6 class="product__item__details__title">{{ product.title | escape }}</h6>

                <span class="product__item__details___price">
                  {% include 'product-price' %}
                </span>
              </div>
            </div>
          {% comment %} </a> {% endcomment %}
        {% endfor %}
      </div>
      <div class="swiper-pagination swiper-pagination-clickable"></div>
    </div>
    <div class="swiper-button swiper-button__prev"></div>
    <div class="swiper-button swiper-button__next"></div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
